.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  /* opacity: 100; */
  animation-name: fade-in;
  /* animation-duration: 4s; */
  /* transform: rotateY(360deg);*/
  transition: 800ms;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.movie-overview {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner-button {
  cursor: pointer;
  color: #fff;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner-button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.fade-bottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.title-fade-out {
  /* opacity: 0; */
  /* animation-name: fade-out; */
  animation-duration: 2.2s;
  color: white;
  object-fit: contain;
  height: 448px;
  transform: rotateY(360deg);
  transition: 800ms;
}

/* @keyframes fade-in {
  from {
    opacity: 50;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 50;
  }
} */
