.row {
  margin-left: 20px;
  color: white;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  /* Scroll bar for X Axis rather than vertical (y-axis) */
}

.row-posters::-webkit-scrollbar {
  display: none;
  /* do not display scrollbar */
}

.row-poster {
  width: 100%;
  object-fit: contain;
  /* Object fit contains fixes the aspect ratio */
  max-height: 100px;
  transition: transform 450ms;
  /* Provides a delay for transition */
  margin-right: 10px;
}

.row-poster:hover {
  /* Poster will grow once hovered over */
  transform: scale(1.08);
  opacity: 1;
}

.row-poster-large {
  max-height: 250px;
}

.row-poster-large:hover {
  transform: scale(1.09);
}
